@{
    ViewBag.Title = "Welcome to Movie Rental";
}

<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">
            Welcome to Movie Rental
            <img src="/favicon-32x32.png" alt="Movie Rental" style="margin-left: 10px; vertical-align: middle; width: 48px; height: 48px;">
        </h1>
        <p class="lead">Your one-stop destination for movie rentals</p>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Available Movies</h5>
                        <p class="card-text">Browse our collection of available movies and find your next favorite film.</p>
                        @Html.ActionLink("View Available Movies", "Index", "Movie", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Your Rented Movies</h5>
                        <p class="card-text">View and manage your currently rented movies.</p>
                        @Html.ActionLink("View Rented Movies", "Rented", "Movie", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>